body{
    background-color: rgb(247, 247, 247);
}
#edu_charts{
    display: flex;
    justify-content: space-evenly;
}
#diabetes_charts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#pageTitle{
    margin-top: 50px;
}
small{
    display:block;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30px;
}
#firstImage{
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 3px;
}
#mainContent{
    width: 80%;
    margin: auto;
}
p{
    line-height: 2;
    text-indent: 40px;
    margin-right: 7%;
}
#gfrImage{
    width: 60%;
    display: block;
    margin: auto;
}
.citation{
    text-indent: 0;
    margin: 0;
}